<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="55639ashkon.BreakFast" Version="1.1.0.4" Publisher="CN=01A92AD5-54FD-4FB3-B6CD-AAB6C7CD7EB5" />
  <Properties>
    <DisplayName>Break Fast</DisplayName>
    <PublisherDisplayName>ashkon</PublisherDisplayName>
    <Logo>images\WhiteCup_Gradient_50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Break Fast" Description="An application to help people who fast from sunrise to sunset.  This app uses calculate sunrise and sunset times at your location presents you with a countdown timer showing you how much time is left until either sunrise or sunset.  During daytime hours the background is red.  Otherwise the background is green." BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="images\WhiteCup_Gradient_150x150.png" Square30x30Logo="images\WhiteCup_Gradient_30x30.png">
        <m2:DefaultTile Wide310x150Logo="images\WhiteCup620x300_Gradient_310x150.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="green" Image="images\WhiteCup620x300.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>